<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>Register form</title>
		{% endblock %}
		{{ encore_entry_link_tags('app') }}
		<link rel="stylesheet" href="{{ asset('css/app.css') }}">
	</head>

	<body class="bg-gray-100 font-sans flex flex-col min-h-screen">

		{% block header %}
			<header class="w-full bg-[#63c3db] h-28">
				<div class="flex justify-center items-center p-4">
					<div class="text-[#ffebeb] text-6xl font-normal font-major-mono tracking-wider">
						MAGUA
					</div>
				</div>
			</header>
		{% endblock %}


		{% block body %}
			<main class="flex-grow flex items-center justify-center bg-blue-700 py-8">
				<div class="max-w-2xl w-full bg-white p-6 rounded-lg shadow-lg">
					<h1 class="text-3xl font-semibold text-center mb-6 text-gray-800">Register</h1>

					<!-- Mostrar los errores del formulario -->
					<div class="text-red-500 mb-4">
						{{ form_errors(registrationForm) }}
					</div>

					{{ form_start(registrationForm) }}

					<!-- Campos del formulario -->
					<div class="mb-4">
						{{ form_row(registrationForm.name, { 'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg'} }) }}
					</div>
					<div class="mb-4">
						{{ form_row(registrationForm.surname, { 'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg'} }) }}
					</div>
					<div class="mb-4">
						{{ form_row(registrationForm.phone, { 'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg'} }) }}
					</div>
					<div class="mb-4">
						{{ form_row(registrationForm.email, { 'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg'} }) }}
					</div>
					<div class="mb-4">
						{{ form_row(registrationForm.address, { 'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg'} }) }}
					</div>
					<div class="mb-4">
						{{ form_row(registrationForm.plainPassword, { label: 'Password', 'attr': {'class': 'w-full p-3 border border-gray-300 rounded-lg'} }) }}
					</div>

					<!-- Checkbox de términos y condiciones con enlace -->
					<div class="mb-4 flex items-center">
						{{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'mr-2'} }) }}
						<label for="{{ registrationForm.agreeTerms.vars.id }}" class="text-gray-700">
							<p>I agree to the
								<a href="{{ path('app_terms') }}" target="_blank" class="text-blue-500 hover:text-blue-700">terms and conditions</a>
							</p>
						</label>
					</div>

					<!-- Botón de registro -->
					<div class="mb-4">
						<button type="submit" class="w-full bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600">Register</button>
					</div>

					{{ form_end(registrationForm) }}

					<div class="text-center mt-4">
						<p>Return home page
							<a href="{{ path('app_base') }}" class="text-blue-500 hover:text-blue-700">here</a>
						</p>
					</div>
				</div>
			</main>
		{% endblock %}

		{% block footer %}
			<footer class="h-20 flex items-center justify-between bg-cover" style="background-image: url('{{ asset('img/footer.png') }}')">

				<p class="text-center text-white text-2xl font-normal font-['Sora'] mr-auto ml-auto">Magua© 2024</p>


				<div
					class="flex space-x-6 mr-6">
					<!-- Icono de Instagram -->
					<a href="#" class="text-white text-3xl hover:text-[#ffebeb]">
						<i class="fab fa-instagram"></i>
					</a>
					<!-- Icono de X (Twitter) -->
					<a href="#" class="text-white text-3xl hover:text-[#ffebeb]">
						<i class="fab fa-twitter"></i>
					</a>
					<!-- Icono de Facebook -->
					<a href="#" class="text-white text-3xl hover:text-[#ffebeb]">
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
			</footer>

		{% endblock %}

		{% block javascripts %}
			<script>
				function initRipples() {
setInterval(() => {
const rippleBackground = document.querySelector('.ripple-background');
const ripple = document.createElement('div');
const size = Math.random() * 100 + 50;
ripple.classList.add('ripple');
ripple.style.width = `${size}px`;
ripple.style.height = `${size}px`;
ripple.style.top = `${
Math.random() * window.innerHeight
}px`;
ripple.style.left = `${
Math.random() * window.innerWidth
}px`;
rippleBackground.appendChild(ripple);
setTimeout(() => ripple.remove(), 6000);
}, 1500);
}

window.onload = initRipples;
			</script>
		{% endblock %}

	</body>
</html>
