
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>Register form</title>
		{% endblock %}
	</head>
</html>

{% block body %}
	<div></div>

	<!-- Contenedor del formulario de registro -->
	<div>
		<div>
			<h1>Register</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div>
				{{ form_row(registrationForm.name) }}
			</div>
			<div>
				{{ form_row(registrationForm.surname) }}
			</div>
			<div>
				{{ form_row(registrationForm.phone) }}
			</div>
			<div>
				{{ form_row(registrationForm.email) }}
			</div>
			<div>
				{{ form_row(registrationForm.address) }}
			</div>
			<div>
				{{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
			</div>

			<!-- Checkbox de términos y condiciones con enlace -->
			<div>
				{{ form_widget(registrationForm.agreeTerms) }}
				<label for="{{ registrationForm.agreeTerms.vars.id }}">
					<p>I agree to the
						<a href="{{ path ('app_terms') }}" target="_blank">terms and conditions</a>
					</p>
				</label>
			</div>

			<div>
				<button type="submit">Register</button>
			</div>
			{{ form_end(registrationForm) }}

			<div>
				<p>Return home page
					<a href="{{ path('app_base') }}">here</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		function initRipples() {
setInterval(() => {
const rippleBackground = document.querySelector('.ripple-background');
const ripple = document.createElement('div');
const size = Math.random() * 100 + 50;
ripple.classList.add('ripple');
ripple.style.width = `${size}px`;
ripple.style.height = `${size}px`;
ripple.style.top = `${
Math.random() * window.innerHeight
}px`;
ripple.style.left = `${
Math.random() * window.innerWidth
}px`;
rippleBackground.appendChild(ripple);
setTimeout(() => ripple.remove(), 6000);
}, 1500);
}

window.onload = initRipples;
	</script>
{% endblock %}




