{% extends "base.html.twig" %}
{% block header %}
	<header
class="bg-[#63c3db] shadow-md p-6 h-28 flex items-center justify-between">
			<h1 class="text-2xl font-semibold text-[#ffebeb]">
				Welcome,
				{{ user.name }}
			</h1>

			<nav>
				<ul
					class="flex items-center space-x-6">
					<li>
						<a href="{{ path('app_product_index') }}" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-700 transition-all duration-300 transform hover:scale-105">
							Make an order
						</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-700 transition-all duration-300 transform hover:scale-105">
							Log out
						</a>
					</li>
					<li>
						<a href="#" class="bg-blue-500 text-white px-6 py-3 rounded hover:bg-blue-700 transition-all duration-300 transform hover:scale-105">
							About Us
						</a>
					</li>
				</ul>
			</nav>
	
	</header>
{% endblock %}

{% block main %}
	<main class="flex-grow bg-white p-8 h-full">
		<h1 class="text-3xl mb-6">My Orders</h1>
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
			{% for order in orders %}
				<div
					class="border rounded-lg p-4 shadow-md bg-white transition-transform duration-300 hover:scale-105">
					<p class="font-semibold text-lg text-gray-700">Order #{{ order.id }}</p>
					<p class="text-gray-600">Status:
						{{ order.status }}</p>
					<p class="text-gray-600">Total:
						{{ order.getTotalAmount }}
						Euros</p>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
