<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>User Page</title>
		{% endblock %}
	</head>
</html>

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block header %}
	<header class="bg-gray-100 shadow-md p-4">
		<h1 class="text-lg font-bold text-gray-700">Welcome {{ user.name }}</h1>
		<nav>
			<ul
				class="flex items-center justify-between">
				
				<li>
					<a href="{{ path('app_product_index') }}" class="bg-blue-500 text-black px-4 py-2 rounded hover:bg-blue-600 transition">Make an order</a>
				</li>
				<li>
					<a href="{{ path('app_logout') }}" class="bg-blue-500 text-black px-4 py-2 rounded hover:bg-blue-600 transition">Log out</a>
				</li>
				<li>
					<a href="#" class="bg-blue-500 text-black px-4 py-2 rounded hover:bg-blue-600 transition">About Us</a>	
				</li>
			</ul>
		</nav>
	</header>
{% endblock %}

{% block body %}

	<!-- Botón de regreso -->
	<div>
		<button class="back-button">
			<a href="{{ path ('app_main') }}">BACK</a>
		</button>
	</div>
    

{% endblock %}

{% block footer %}

{% endblock %}
