<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>Order Page</title>
		{% endblock %}
	</head>
</html>

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block header %}
	<header class="bg-gray-100 shadow-md p-4">
		<h1 class="text-lg font-bold text-gray-700">Welcome to your order</h1>
		<nav>
			<ul class="flex items-center justify-between">
				<li>
					<a href="{{ path('app_logout') }}" class="logout-button">
						Log out
					</a>
				</li>
			</ul>
		</nav>
	</header>
{% endblock %}

{% block body %}
	<div class="main-content">

		<div class="product-container">
			{% for product in products %}
				<div class="product-card bg-blue-800">
					<a href="#">
						<img src="https://www.elajonegroherbolarios.com/images/productos/11179/ajonegro2zKcr.jpg" alt="Imagen del producto"/>
					</a>
					<div class="product-footer">
						<h5>{{ product.name }}</h5>
						<p>{{ product.description }}</p>
						<div>
							<span class='product_{{ product.id }}_price'>{{ product.price }}</span>
						</div>
						<div>
							<select class="quantity-select">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
							<button class="add-to-cart productId-{{ product.id }}" id="{{ product.id }}">Add to Cart</button>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<!-- Cart Section -->
		<div class="cart">
			<h3>YOUR CART</h3>
			<p>Items: 0</p>
			<p>Total: 0 Euros</p>
			<div id="cart-items-list"></div>


{# <button>
<a href="{{ path ('payment_page') }}">
		Proceed to Checkout</a>
</button> #}

<button onClick=sendCart()>
		Proceed to Checkout</a>
</button>




		</div>
	</div>

	<button class="back-button">
		<a href="{{ path ('app_main') }}">Back to profile</a>
	</button>
{% endblock %}

{% block javascripts %}
	<script>
let cart = [];



const sendCart = async () => {
    try {
        // Realiza la solicitud usando fetch y await
		const response = await fetch('http://127.0.0.1:8000/order/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest' // Opcional: para identificar la solicitud como AJAX
            },
            body: JSON.stringify({
                cart: cart
            })
        });

        // Verifica si la respuesta es exitosa
        if (!response.ok) {
			console.log(response)
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        // Parsear la respuesta a JSON
        const data = await response.json();


        // Maneja la respuesta
        if (data.error) {
           alert('Error: ' + data.error);
        } else {
            alert('Order created successfully! Order ID: ' + data.order_id);
        }
    } catch (error) {
        // Manejo de errores
        //console.error('Error:', error);
      	alert('An error occurred while processing your request.');
    }
};

		document.querySelectorAll('.add-to-cart').forEach(button => {
		button.addEventListener('click', function (e) {
	
		let productId = e.target.id
		let priceSpan = document.querySelector (`.product_${productId}_price`).innerText;
		
		const productName = this.closest('.product-card').querySelector('h5').innerText;
		const price = parseFloat(priceSpan);
		const quantity = parseInt(this.previousElementSibling.value);
		
		const product = {
		id: productId,
		name: productName,
		quantity: quantity,
		price: price,
		total: price * quantity
		};

		// Add product to cart
		let existInCart = cart.some( prod => {
			if (prod.id === product.id) {
				return true
			}	else {
				return false
			}
		}) 

		if (existInCart === false) {
			cart.push(product);
		} else {
			cart = cart.map((prod) => {
				if(prod.id === product.id ){
					return {
						id: prod.id,
						name: prod.name,
						quantity: prod.quantity + product.quantity,
						price: prod.price,
						total: prod.price * (prod.quantity += product.quantity)
					}
				} else {
					return prod
				}
			})
		}	

		updateCart();
		});
		});

		// Function to update cart items
		function updateCart() {
		let totalItems = 0;
		let totalAmount = 0;
		let cartItemsHTML = '';

		// Clear the cart items list
		let p = document.getElementById('cart-items-list').innerHTML = '';

		// Iterate over cart items
		cart.forEach((item, index) => {
		
		totalItems = item.quantity;
		totalAmount += item.total;

		// Add item to cart list
		cartItemsHTML += `
		<div class="cart-item" id="cart-item-${item.id}">
		<span> (x${item.quantity}) - ${item.name} - ${item.total.toFixed(2)} Euros</span>
		<button class="remove-from-cart" style="color: white; font-size: 20px; background-color: red; border: 2px solid red; border-radius: 50%; padding: 10px; cursor: pointer; transition: all 0.3s ease; display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px;" data-index="${index}">
			🗑️
		</button>


		</div>`;
		});

		// Update the cart HTML with the new items
		let updatedList = document.getElementById('cart-items-list').innerHTML = cartItemsHTML;
	

		// Update the total and item count
		document.querySelector('.cart p:nth-of-type(1)').innerText = `Items: ${totalItems}`;
		document.querySelector('.cart p:nth-of-type(2)').innerText = `Total: ${
		totalAmount.toFixed(2)
		} Euros`;

		// Add event listeners to the remove buttons
		document.querySelectorAll('.remove-from-cart').forEach(button => {
		button.addEventListener('click', function () {
		const index = parseInt(this.getAttribute('data-index'));
		cart.splice(index, 1); // Remove the item from the cart
		updateCart(); // Update the cart display
		});
		});
		}
	</script>
{% endblock %}


<style>

	.main-content {
		display: flex;
		justify-content: space-between;
		padding: 20px;
	}

	.logout-button {
		display: block;
		margin: 20px auto;
		padding: 10px 20px;
		background-color: #007BFF;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	.logout-button:hover {
		background-color: #0056b3;
	}

	.back-button a {
		color: white;
		text-decoration: none;
	}

	.back-button:hover {
		background-color: #0056b3;
	}


	.product-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 20px;
		width: 70%;
	}


	.product-card {
		border: 1px solid #ddd;
		border-radius: 8px;
		overflow: hidden;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}

	.product-card img {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #ddd;
	}

	.product-footer {
		padding: 15px;
	}

	.product-footer h5 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.product-footer p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.product-footer div {
		margin-bottom: 10px;
	}

	.quantity-select {
		padding: 5px;
		margin-right: 10px;
		border-radius: 4px;
		border: 1px solid #ddd;
		font-size: 14px;
	}

	.add-to-cart {
		padding: 8px 12px;
		background-color: #4CAF50;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	.add-to-cart:hover {
		background-color: #45a049;
	}


	.cart {
		width: 25%;
		border: 1px solid #ddd;
		padding: 15px;
		background-color: #f9f9f9;
		border-radius: 8px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.cart h3 {
		margin-bottom: 20px;
	}

	.cart button {
		padding: 10px;
		background-color: #007BFF;
		color: white;
		border: none;
		border-radius: 4px;
		width: 100%;
		cursor: pointer;
	}

	.cart button:hover {
		background-color: #0056b3;
	}


	.back-button {
		display: block;
		margin: 20px auto;
		padding: 10px 20px;
		background-color: #007BFF;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	.back-button a {
		color: white;
		text-decoration: none;
	}

	.back-button:hover {
		background-color: #0056b3;
	}
	.remove-from-cart {
		color: red !important;
		font-size: 20px;
		background: none;
		border: none;
		cursor: pointer;
		margin-left: 10px;
	}

	.remove-from-cart:hover {
		color: darkred !important;
	}
</style>
