<!DOCTYPE html>
<html lang="es" class="h-screen">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title class="text-2xl font-semibold text-gray-800">Welcome!</title>
		{% endblock %}
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/app.css') }}">
		{% endblock %}
	</head>

	<body class="h-[calc(100%-160px)]">
		{% block header %}
			<header
				class="w-full bg-[#63c3db] h-20">
				<!-- Contenedor de la barra de navegación -->
				<div
					class="flex justify-between items-center p-4">
					<!-- Logo "MAGUA" a la izquierda -->
					<div class="text-[#ffebeb] text-5xl font-normal font-['Major Mono Display'] tracking-wider">
						MAGUA
					</div>

					<!-- Enlaces a la derecha: Order, Products, About, Login y Register -->
					<nav class="space-x-8 text-white text-lg">
						<a href="#" class="hover:text-[#ffebeb]">Order</a>
						<a href="#" class="hover:text-[#ffebeb]">Products</a>
						<a href="#" class="hover:text-[#ffebeb]">About</a>

						<!-- Botones de Login y Register -->
						<a href="{{ path('app_login') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Login</a>
						<a href="{{ path('app_register') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-orange-600">Register</a>
					</nav>
				</div>
			</header>
		{% endblock %}

{# style="background-image: url('{{ asset('img/bg1.png') }}')" #}

		{% block main %}
			<div class="bg-blue-500 h-full">
				<div class="container mx-auto py-8">
					<h1 class="text-3xl font-semibold text-white">BODY!</h1>
					<h2>aolskjasdl</h2>
				</div>
			</div>
		{% endblock %}

<footer class="bg-[#336e7d] text-right text-white text-base font-normal font-['Sora'] h-20">

		Magua© 2024
		</footer>

	</body>
</html>
{# <style>
.our-main{
	background-image: url('/home/reboot-student/code/proyecto/Magua/MaguaApp/public/img/bg1.png');
	background-size: cover;
	background-position: center;
}


</style> #}
