<!DOCTYPE html>
<html lang="es" class="h-screen">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title class="text-2xl font-semibold text-gray-800">Welcome!</title>
		{% endblock %}
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/app.css') }}">
		{% endblock %}
	</head>

	<body class="h-[calc(100%-192px)]">
		{% block header %}
			<header class="w-full bg-[#63c3db] h-28 flex justify-between items-center px-8">

				<h1 class="text-[#ffebeb] text-5xl font-normal font-['major mono display' ] tracking-wider">MAGUA</h1>

				<nav class="space-x-8 text-white text-lg">
					<a href="#" class="hover:text-[#ffebeb]">Order</a>
					<a href="#" class="hover:text-[#ffebeb]">Products</a>
					<a href="#" class="hover:text-[#ffebeb]">About</a>
					<a href="{{ path('app_login') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Login</a>
					<a href="{{ path('app_register') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-orange-600">Register</a>
				</nav>
			</header>
		{% endblock %}

		{% block main %}
			<div class="h-full bg-cover bg-center" style="background-image: url('{{ asset('img/bg1.png') }}')"></div>
		{% endblock %}

		<footer class="bg-[#336e7d] h-20 flex items-center justify-between">
			<div>
			</div>
			<p class="text-center text-white font-normal font-['Sora'] ">Magua© 2024</p>
			<div>
			</div>

		</footer>

	</body>
</html>
{# <style>
.our-main{
	background-image: url('/home/reboot-student/code/proyecto/Magua/MaguaApp/public/img/bg1.png');
	background-size: cover;
	background-position: center;
}


</style> #}
